.wrapper {
  padding: .75rem;
  border-radius: .75rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  min-width: 15rem;
  height: fit-content;

  background: rgb(255, 255, 255);

  @media (min-width: 992px) {
    position: sticky;
    top: 5rem;
  }
}

.item {
  display: flex;
  flex-direction: column;

  gap: .15rem;
}

.name {
  font-weight: 550;
  font-size: .875rem;
}

.value {
  font-size: 1.5rem;
  font-weight: 650;
  padding-left: .05rem;
}