.wrapper {
  padding: .75rem;
  border-radius: .75rem;

  min-width: 15rem;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 1.05rem;

  background: rgba(255, 255, 255, .75);

  @media (min-width: 576px) and (max-width: 991px) {
    flex-wrap: wrap;
    width: fit-content;
    gap: 1.5rem 2.5rem;
  }

  @media (min-width: 992px) {
    position: sticky;
    flex-direction: column;
    top: .5rem;
  }
}

.heading {
  color: var(--color-dark-transparent-60);
  font-weight: 560;
}

.button {
  height: 3.5rem !important;
  font-size: 1.15rem !important;
}

.items {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  @media (min-width: 576px) and (max-width: 991px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem 2.5rem;
  }

  @media (min-width: 992px) {
    flex-direction: column;
    top: .5rem;
    gap: .5rem;
  }
}

.item {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  gap: 1.05rem;
}

.name {
  font-weight: 600;
  font-size: .875rem;
}

.value {
  font-size: 1.5rem;
  width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 650;
}