.wrapper {
  position: relative;

  flex: 1;

  height: fit-content;

  @media (min-width: 1200px) {
    max-width: 20rem;
  }
}

.button {
  right: 0;
  top: 0;
  bottom: 0;

  width: 2.75rem;

  transition: 200ms all ease-in-out;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: var(--color-primary);
  }
}