.wrapper {
  display: flex;
  flex-direction: column;

  gap: 2.15rem;
}

.core {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;

  @media (min-width: 992px) {
    flex-direction: row-reverse;
  }
}

.top {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.content {
  display: flex;
  flex-direction: column;

  gap: 2.5rem;

  flex: 1;
}

.panel {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;

  @media (min-width: 1100px) {
    width: 20rem;
  }

  @media (min-width: 1600px) {
    width: 25rem;
  }
}