.wrapper {
  display: flex;
  gap: 2.25rem;
}

.item {
  position: relative;
  width: fit-content;

  & * {
    transition: 200ms all ease-in-out;
  }

  &:hover * {
    color: var(--color-primary) !important;
  }

  &:not(.active) * {
    color: var(--color-dark-transparent-60);
  }
}

.name {
  font-size: 2.25rem;
  font-weight: 600;
  width: fit-content;
}

.point {
  position: absolute;
  top: -0.25rem;
  right: -0.75rem;
}