.nav {
  display: none;

  gap: .5rem;

  @media (min-width: 1200px) {
    display: flex;
  }
}

.linkWrapper {
  padding: .5rem;

  position: relative;
}

.link {
  transition: 200ms all ease-in-out;

  font-weight: 600;
  font-size: .875rem;

  &:hover {
    color: var(--color-tertiary);
  }
}