.wrapper {
  display: flex;
  flex-direction: column;

  gap: .5rem;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order {
  padding: .75rem 1.125rem;
  border-radius: .75rem;
  background: rgba(255, 255, 255, 1.0);
  box-shadow: 0 0 .75rem rgba(120, 120, 120, .05);
  cursor: pointer;

  transition: 200ms all ease-in-out;

  &:hover {
    background: rgba(255, 255, 255, .5);
  }
}

.sum {
  font-weight: 800;
}

.heading {
  font-size: clamp(1.0rem, 2.75vw, 1.65rem);
}

.orders {
  display: flex;
  flex-direction: column;

  gap: .5rem;
}