.wrapper {
  display: flex;
  justify-content: flex-end;
  width: fit-content;

  padding: .5rem;
  gap: 1.5rem;
}

.button {
  transition: 200ms all ease-in-out;

  &:hover {
    color: var(--color-primary);
  }
}

