.wrapper {
  display: flex;
  flex-direction: column;

  gap: 3.5rem;

  flex: 1;
}

.list {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 2.5rem;
}
