.wrapper {
  display: flex;
  flex-direction: column;

  gap: .5rem;

  flex: 1;
}

.panel {
  display: none;

  @media (min-width: 768px) {
    display: grid;

    background: rgba(255, 255, 255, .75);

    border-radius: .75rem;
    padding: .75rem;

    grid-template-columns: 5fr 1fr 3fr 1fr;

    & .cell {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: .875rem;
      font-weight: 560;

      color: var(--color-dark-transparent-60);
    }
  }
}

.list {
  flex: 1;

  display: flex;
  flex-direction: column;

  gap: .5rem;
}