.wrapper {
  display: flex;
  align-items: center;

  gap: .5rem;

  & * {
    transition: 200ms all ease-in-out;
  }

  &:hover {
    & * {
      color: var(--color-primary);
    }
  }
}

.total {
  font-size: .875rem;
  font-weight: 650;
  width: 5rem;
  white-space: nowrap;
}