.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.notification {
  border-top: .125rem solid var(--color-dark-transparent-10);
  padding-top: 3.5rem;
  font-weight: 540;
  font-style: normal;
  text-wrap: balance;
  line-height: 160%;
  letter-spacing: -0.025em;
  max-width: 50rem;
}