.wrapper {
  background: rgba(255, 255, 255, .75);

  border-radius: .75rem;

  overflow: hidden;
  cursor: pointer;
  height: fit-content;

  transition: 100ms all ease-in-out;

  position: relative;
  z-index: 50;
}